<% if @products.any? %>
	<div class="grid">
		<% @products.each do |prod| %>
			<div>
				<article class="product">
					<div class="product__image">
						<%= image_tag prod.image.url(:medium) %>
					</div>
					<p class="product__copy"><%= prod.name %> - &pound;<%= prod.price %></p>
					<%= link_to 'Add to Cart', '#', class: "button" %>
				</article>
			</div>
		<% end %>
	</div>
<% else %>
	<p>There are no products to show</p>
<% end %>